# Backend
Backend-CICD/target/
Backend-CICD/.settings/
Backend-CICD/.project
Backend-CICD/.classpath

# Frontend
Frontend-CICD/node_modules/
Frontend-CICD/dist/
Frontend-CICD/build/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db